<!-- views/partials/_additem.ejs -->
<div class="collapse" id="collapseAddItem">
  <div class="container">
    <section class="new_item"><div id="new_item_header">
      <h2>Add Menu Item</h2></div>
      <form id="new_item" method="POST" action="/menu">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="cost">Cost</label>
              <input name="cost" type="number" class="form-control" id="cost" placeholder="0.00">
            </div>
            <div class="form-group col-md-6">
              <label for="price">Retail Price</label>
              <input name="price" type="number" class="form-control" id="price" placeholder="0.00">
            </div>
          </div>
          <div class="form-group">
            <label for="name">Item name</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="Green salad">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input name="description" type="text" class="form-control" id="description" placeholder="Bowl of lettuce">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="image">Image URL</label>
              <input name="url" type="text" class="form-control" id="image">
            </div>
            <div class="form-group col-md-2">
              <label for="quantity">Quantity</label>
              <input name="quantity" type="number" class="form-control" id="quantity">
            </div>
            <div class="form-group col-md-2">
              <label for="quantity">Category</label>
              <select name="category" class="form-control" id="category">
                <option value="salad">Salad</option>
                <option value="soup">Soup</option>
                <option value="sandwich">Sandwich</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
  </div>
</div>
