<!-- views/partials/_cart.ejs -->
<div class="collapse" id="collapseBasket">
<div class="container">
  <table id="cart" class="table table-hover table-condensed" style="background-color: white; border-radius: 5px;">
    <thead>
      <tr>
              <th style="width:50%">Product</th>
              <th style="width:10%">Price</th>
              <th style="width:8%">Quantity</th>
              <th style="width:22%" class="text-center">Subtotal</th>
              <th style="width:10%"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% orderObj.forEach(function(item) { %>
              <td data-th="Product">
                <div class="row">
                  <div class="col-sm-2 hidden-xs"><img src="<%= item.image_url %>" alt="..." class="img-responsive"/></div>
                  <div class="col-sm-10" style="padding-left: 50px;">
                    <h4 class="nomargin"><%= item.name %></h4>
                    <p><%= item.description %></p>
                  </div>
                </div>
              </td>
              <td data-th="Price"><%= item.price %></td>
              <% }) %>
              <td data-th="Quantity">
                <input type="number" class="form-control text-center" value="1">
              </td>
              <td data-th="Subtotal" class="text-center">1.99</td>
              <td class="actions" data-th="">
                <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="visible-xs">
              <td class="text-center"><strong>Total 1.99</strong></td>
            </tr>
            <tr>
              <td><a href="#" class="btn btn-warning" data-toggle="collapse" data-target="#collapseBasket" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
              <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
          </tfoot>
        </table>
      </div>
