<!-- views/partials/_cart_admin.ejs -->
<div class="collapse" id="collapseBasket">
  <div class="container">
    <div class="card card-body" style="border-radius: 5px;">
      <h3 style="text-align: center;">No cart available in Owner-mode</h3><button type="button" class="btn btn-danger">Logout</button>
    </div>
  </div>
</div>
