<!-- views/partials/_cart.ejs -->
<div class="collapse" id="collapseBasket">
<div class="container">
  <table id="cart" class="table table-hover table-condensed" style="background-color: white; border-radius: 5px;">
    <thead>
      <tr>
              <th style="width:50%">Product</th>
              <th style="width:10%">Price</th>
              <th style="width:8%">Quantity</th>
              <th style="width:22%" class="text-center">Subtotal</th>
              <th style="width:10%"></th>
            </tr>
          </thead>
          <tbody id="order-items">
          </tbody>
          <tfoot>
            <tr class="visible-xs">
              <td class="text-center"><strong>Total 1.99</strong></td>
            </tr>
            <tr>
              <td><a href="#" class="btn btn-warning" data-toggle="collapse" data-target="#collapseBasket" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-angle-left"></i> Continue Shopping</a>
              <span style="margin-left: 5px; margin-right: 5px;"></span><a href="#" class="btn btn-danger clearcart">Clear Cart <i class="fas fa-trash-alt"></i></a></td>
              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
              <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
          </tfoot>
        </table>
      </div>
