<div class="container">
<div class="row">
  <div class="col-sm">
    <h3>Salads</h3>
    <section class="salads">
      <article class="salads">
        <header>
          <img class="item-photo" src="${photo}"></img>
          <h3 class="item-name">Salad</h3>
          <p class="item-price">3.99</p>
        </header>
        <p class="item-text">It's a salad</p>
        <footer>
          <button type="button" class="btn btn-info">Add to Cart</button>
      </footer>
      </article>
      <section class="salads">
        <article class="salads">
          <header>
            <img class="item-photo" src="${photo}"></img>
            <h3 class="item-name">Fruit Salad</h3>
            <p class="item-price">5.99</p>
          </header>
          <p class="item-text">It's a salad made from fruit!</p>
          <footer>
            <button type="button" class="btn btn-info">Add to Cart</button>
        </footer>
        </article>
      </section>
    </section>
  </div>
  <div class="col-sm">
    <h3>Sandwiches</h3>
    <section class="sandwiches">
      <article class="sandwiches">
        <header>
          <img class="item-photo" src="${photo}"></img>
          <h3 class="item-name">Sandwich</h3>
          <p class="item-price">13.99</p>
        </header>
        <p class="item-text">It's a sandwich</p>
        <footer>
          <button type="button" class="btn btn-info">Add to Cart</button>
      </footer>
      </article>
    </section>
  </div>
  <div class="col-sm">
    <h3>Soups</h3>
    <section class="soups">
      <article class="soups">
        <header>
          <img class="item-photo" src="${photo}"></img>
          <h3 class="item-name">Soup</h3>
          <p class="item-price">1.99</p>
        </header>
        <p class="item-text">You guessed it...</p>
        <footer>
          <button type="button" class="btn btn-info">Add to Cart</button>
      </footer>
      </article>
    </section>
  </div>
</div>
</div>
