<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>

  <body>
    <header>
      <% include ./partials/_header %>
    </header>
<main class="container">
  <section class="new_item">
    <h2>Compose Tweet</h2>
    <form id="new_item" method="POST" action="/tweets/">
      <textarea id="tweetbox" name="text" placeholder="What are you thrumming about?"></textarea><br>
      <input name="content" type="submit">
      <span id="zero_error" class="error">You have to write something! Please try again</span>
      <span id="max_error" class="error">Please keep your message to at most 140 characters!</span>
      <span class="counter">140</span>
    </form>
  </section>
  <section id="old_tweets">
  </section>
</main>
  </body>
</html>
