<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
  <main class="splash">
    <section id=splash_intro>
      <h2 class="splash">Franklin's</h2>
      <form method="GET" action="/menu_customer">
      <button type="submit" class="btn btn-light">Customer</button></form><span style="margin-left: 25px;
    margin-right: 25px;"></span><form method="GET" action="/orders_admin"><button type="submit" class="btn btn-light">Owner</button></form>
    </section>
  </main>
  </body>
</html>
