<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
      <% include ./partials/_cart %>
    </header>
<main class="container">
  <section class="new_item">
    <h2>Featured Items</h2>
    <div class="container">
    <div class="row">
      <div class="col-sm">
        Delicious One!
      </div>
      <div class="col-sm">
        Delicious Two!
      </div>
      <div class="col-sm">
        Delicious Whoo!
      </div>
    </div>
  </div>
  </section>
      <% include ./partials/_menu %>
</main>
  </body>
</html>
