<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>

  <body class="other">
    <header>
      <% include ./partials/_header %>
      <% include ./partials/_cart_admin %>
      <% include ./partials/_additem %>
    </header>
<main class="container">
  <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseAddItem" aria-expanded="false" aria-controls="collapseExample">
    Add Item
  </button>
      <% include ./partials/_menu %>
  <h2>Menu</h2>
</main>
  </body>
</html>
