<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
    <!-- <script type="text/javascript" src="Scripts/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="/scripts/app.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/styles/new_item.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway|Roboto:100i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  </head>

  <body class="other">
    <header>
      <% include ./partials/_header %>
    </header>
<main class="container">
  <section class="new_item"><div id="new_item_header">
    <h2>Add Menu Item</h2></div>
    <form id="new_item" method="POST" action="/tweets/">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="cost">Cost</label>
            <input type="number" class="form-control" id="cost" placeholder="0.00">
          </div>
          <div class="form-group col-md-6">
            <label for="price">Retail Price</label>
            <input type="number" class="form-control" id="price" placeholder="0.00">
          </div>
        </div>
        <div class="form-group">
          <label for="name">Item name</label>
          <input type="text" class="form-control" id="name" placeholder="Green salad">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" placeholder="Bowl of lettuce">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="image">Image URL</label>
            <input type="text" class="form-control" id="image">
          </div>
          <div class="form-group col-md-2">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Item</button>
      </form>
  </section>
  <div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
      <section class="salads">
        <article class="salads">
          <h2 class="item-name">Salad</h2>
          <img class="item-photo" src="${photo}"></img>
          <p class="item-text">It's a salad</p>
          <p class="item-price">3.99</p>
          <p class="item-inventory">TEST</p>
        </article>
      </section>
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
  <section id="menu_items">
  </section>
</main>
  </body>
</html>
