h2 {
  border-bottom: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
}

.new_tweet {
  display: none;
  background: #eee;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 5px;
  padding: 5px;
}

.counter {
  position: relative;
  float: right;
  margin-right: 5px;
  left: 0px;
}

textarea {
  padding-top: 5px;
  padding-left: 5px;
}

.error {
  position: relative;
  float: right;
  bottom: 55px;
  width: 128px;
  right: 64px;
}

#max_error {
  display: none;
}

#zero_error {
  display: none;
}
