<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>

  <body>
    <header>
      <% include ./partials/_header %>
      <% include ./partials/_cart %>
    </header>

    <main>
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Link with href
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Button with data-target
        </button>
      </p>

</main>

  </body>
</html>
