$grey: #999;
$dgrey: darkgrey;
$lgrey: #eee;
$white: #fff;
$mint: #3eb489;
$lmint: #82d4b6;
$blue: #3e69b4;
$lblue: #82a0d4;
$yellow: #f4c430;
$lyellow: #f8da7e;
$roboto: 'Roboto', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
