@import 'variables';

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  color: #244751;
  background-image: url("/images/interior.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: $raleway;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: $josefin;
  font-size: 4em;
  text-align: center;
}

main.container {
    width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $white;
    opacity: 0.9;
    margin: 0 auto;
    margin-top: 1em;
    border-radius: 10px;
}

.collapse {
  opacity: 0.9;
}
