@import 'variables';

body {
  margin: 0;
  color: #244751;
  background-color: $grey;
  font-family: $raleway;
  height: 100%;
}

main.container {
    width: 450px;
    padding-top: 140px;
    background-color: $white;
    margin: 0 auto;
    height: 100%;
}
