@import 'variables';

article {
  margin-top: 15px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: black;
  h4 {
    font-size: 1.25em;
  }
}

article.active header{
  background-color: $mint;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: $dgrey 1px;
}

article.active:hover header {
  background-color: $lmint;
  border-color: black;
}

article.in-progress header{
  background-color: $dgrey;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: $dgrey 1px;
}

article.in-progress:hover header {
  background-color: $lgrey;
  border-color: black;
}

article.complete header {
  background-color: $blue;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 2.5em;
}

article.complete:hover header {
  background-color: $lblue;
}

article footer {
  padding-bottom: 10px;
  padding-top: 2px;
  border-top-color: $dgrey;
  border-top-width: 1px;
  border-top-style: solid;
  text-align: center;
  h4 {
    margin-top: 0.5rem;
  }
  p {
    text-align: right;
    margin-bottom: 0;
    margin-right: 1em;
  }
}

.item-name {
  margin-top: 5px;
  margin-bottom: 5px;
}

#time {
  margin: 0.3rem;
  margin-right: 1em;
  width: 15%;
  float: right;
}

#order-button {
  position: relative;
  float: left;
  margin: 0.5rem;
}

#order-status {
  position: relative;
}

#order-details {
  position: relative;
  float: right;
  text-align: right;
}
